<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 bg-light" style="min-height: 100vh">
      <div class="list-group list-group-flush">
        <a href="/admin" class="list-group-item list-group-item-action py-3">
          <i class="bi bi-house-door pe-3"></i>
          Bảng điều khiển
        </a>

        <a href="/admin-shop" class="list-group-item list-group-item-action py-3">
          <i class="bi bi-shop pe-3"></i>
          Quản lý cửa hàng
        </a>
        <a href="/product-list" class="list-group-item list-group-item-action py-3">
          <i class="bi bi-cart pe-3"></i>
          Sản phẩm
        </a>
        <a href="/category-list" class="list-group-item list-group-item-action py-3 active">
          <i class="bi bi-list pe-3"></i>
          Danh mục
        </a>
        <a href="/admin-order" class="list-group-item list-group-item-action py-3">
          <i class="bi bi-bag pe-3"></i>
          Đơn hàng
        </a>

        <a href="/account-admin" class="list-group-item list-group-item-action py-3">
          <i class="bi bi-people pe-3"></i>
          Người dùng
        </a>
        <a href="/admin-doanhthu" class="list-group-item list-group-item-action py-3">
          <i class="bi bi-bag pe-3"></i>
          Doanh thu
        </a>
      </div>
    </div>
    <div class="col-md-10 container">
      <h2 class="mt-4">Danh sách danh mục</h2>

      <div class="card bg-primary text-white mb-3">
        <div class="card-body">
          <form class="d-flex" (submit)="onSearch($event)">
            <input
              name="search"
              class="form-control me-2"
              type="search"
              placeholder="Tìm kiếm"
              aria-label="Search"
              [(ngModel)]="searchKeyword"
            />
            <button class="btn btn-success" type="submit">
              <i class="bi bi-search"></i>
            </button>
          </form>
        </div>
      </div>

      <div class="table-responsive shadow-sm">
        <table class="table table-hover mb-3">
          <thead class="bg-light">
            <tr>
              <th>Hình ảnh</th>
              <th>Tên danh mục</th>
              <th>Hành động</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let category of getPaginatedCategories()">
              <td>
                <img
                  src="{{ category.hinh }}"
                  alt="Hình ảnh cho {{ category.ten }}"
                />
              </td>
              <td>{{ category.ten }}</td>
              <td>
                <a
                  [routerLink]="['/category-edit/' + category.id]"
                  class="btn btn-secondary btn-sm mr-2"
                >
                  Sửa
                </a>
                <a
                  href="javascript:void(0)"
                  (click)="deleteCategory(category.id)"
                  class="btn btn-danger btn-sm"
                >
                  Xóa
                </a>
              </td>
            </tr>
            <tr *ngIf="getPaginatedCategories().length === 0">
              <td colspan="3" class="text-center">
                Không tìm thấy danh mục nào.
              </td>
            </tr>
          </tbody>
        </table>

        <nav aria-label="Page navigation example" *ngIf="totalPages > 1">
          <ul class="pagination justify-content-center">
            <li class="page-item" [class.disabled]="currentPage === 1">
              <a
                class="page-link"
                href="#"
                (click)="changePage(currentPage - 1)"
              >
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li
              class="page-item"
              *ngFor="let page of [].constructor(totalPages); let i = index"
              [class.active]="currentPage === i + 1"
            >
              <a class="page-link" href="#" (click)="changePage(i + 1)">{{ i + 1 }}</a>
            </li>
            <li class="page-item" [class.disabled]="currentPage === totalPages">
              <a
                class="page-link"
                href="#"
                (click)="changePage(currentPage + 1)"
              >
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <br />
      <a
        [routerLink]="['/category-add']"
        routerLinkActive="router-link-active"
        class="btn btn-primary btn-sm"
      >
        Thêm danh mục mới
      </a>
    </div>
  </div>
</div>
