<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Thanh toán với VNPay</h1>
<form (ngSubmit)="submitPayment()">
  <input type="text" [(ngModel)]="orderInfo.amount" name="amount" placeholder="Số tiền" required />
  <input type="text" [(ngModel)]="orderInfo.orderDesc" name="orderDesc" placeholder="Mô tả đơn hàng" required />
  <button type="submit">Thanh toán</button>
</form>
</body>
</html>
